header {
  background-color: white;
  color: #e91111;
  padding: 10px 0;
  border-bottom: 1px solid rgb(248, 6, 6);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #e91111;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #e91111;
  text-decoration: none;
  margin: 0 15px;
  font-size: 20px;
}

.user-profile {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.user-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1px;
  margin-left: 25px;
}

li a:hover{
  opacity: 0.6;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(224, 34, 34, 0.2);
  z-index: 1;
  top: 50px;
  right: 0;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content a {
  color: #fff;
  padding: 15px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
  background-color:white;
  display: block;
}

@media screen and (max-width: 768px){

  nav ul li a {
    color: #e91111;
    text-decoration: none;
    margin: 0 15px;
    font-size: 15px;
  }

  .user-profile img {
    width: 30px;
    height: 30px;
  }

  .logo {
    font-size: 20px;
  }
}

@media screen and (max-width: 512px){

  nav ul li a {
    color: #e91111;
    text-decoration: none;
    margin: 0 15px;
    font-size: 10px;
  }

  .user-profile img {
    width: 25px;
    height: 25px;
  }

  .logo {
    font-size: 10px;
  }
}

@media screen and (max-width: 350px){

  nav ul li a {
    color: #e91111;
    text-decoration: none;
    margin: 0 15px;
    font-size: 5px;
  }

  .user-profile img {
    width: 20px;
    height: 20px;
  }

  .logo {
    font-size: 5px;
  }
}